.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card {
  min-width: 240px !important;
  height: 20vh;
  margin: 20px;
  background-color: darkgray !important;
}

.title {
  font-size: 22px !important;
}

.fab {
  margin: 10px !important;
}
.pos {
  margin-bottom: 12px !important;
}
.center {
  text-align: center;
}

.float-left {
  float: left;
}
