.LifeCycleColumn {
  margin: 8px;
  border: 1px solid #dddddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #eeeeee;
  min-width: 320px;
  position: relative;
}

.LifeCycleColumn header {
  background-color: goldenrod;
  padding: 8px;
  color: #ffffff;
}
.LifeCycleColumn .issue-container {
  height: 100%;
}
.LifeCycleColumn .add-issue-bottomBar {
  position: absolute;
  bottom: 0;
  width: 100%;
}